// Brand Colors
$primary   : #4DCCFF; // Primary is now the Blue Flame
$secondary : #FF914D; // Secondary is the Orange Glow
$accent    : #FDBB2D; // Gold highlights

// Backgrounds (This fixes the "Off" feeling)
$dark      : #1A2A3A; // Use this for the Header background
$dark-page : #0F1721; // Use this for the Page background

$positive  : #2ECC71;
$negative  : #E74C3C;
$info      : #4DCCFF;
$warning   : #FDBB2D;